{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
{%block head%}
<style>
  body{
    background-color:purple;
  }
  .tabled{
    background-color:yellow;
    color:purple;
    text-shadow: 1px 1px black;
    font-size:20px;
    font-family: 'PT Sans', sans-serif;
    padding-left:20px;
    font-weight: bolder;
  }
  .labels
  {
    color:purple;
    text-shadow: 1px 1px black;
    font-size:30px;
    font-family: 'PT Sans', sans-serif;
    padding-left:20px;
    font-weight: bolder;
  }
  .bordered
  {
     border: 2.5px solid purple;
     border-radius: 30px;
     border-collapse:seperate;
     perspective: 1px;
     overflow:hidden;
  }
  .search
{
  color:#1E656D;
  text-align:center;
  padding-top: 200px;
}
.span
{
  color:#1E656D;
  border: 2px solid #1E656D;
  border-radius: 8px;
  font-weight:bolder;
}
select:focus
{
  outline: #1E656D;
}
.selected{
  background-color:#F1F3CE;
  color:#1E656D;
  font-size:20px;
  text-shadow: 1px 1px black;
  text-weight:bold;
  border: 2px solid #1E656D;
}
.batman
{
  background-color:#1E656D;
  color:#F1F3CE;
  font-size:20px;
  text-shadow: 1px 1px black;
  text-weight:bold;
}
.beats{
  visibility:hidden;
}
.searchby
{
  color:#1E656D;
  text-shadow: 1px 1px black;
  font-size:20px;
  font-family: 'PT Sans', sans-serif;
}
</style>
{%endblock%}
{% block body %}
{% if games %}
<div class ="row justify-content-md-center">
<div class ="col col-md-10 ">
<table class="table tabled bordered">
  <thead class ="labels">
    <tr class = "bordered rounded">
      <th scope="col" >Home</th>
      <th scope="col">Away</th>
    </tr>
  </thead>
  <tbody>
    {%if pick%}
    <p>Current Week: {{week.weeknum}}</p>
    <p>Current Weekly Pick: {{pick}}</p>
    {%else%}
    <p>Current Week:{{week.weeknum}}</p>
    {%endif%}
    {% if teams %}
    <form action = "/newpick" method = "POST">
      {%csrf_token%}
      <select name = "team" id = "playground" class ="span form-control deselect ">
           <option disabled selected value = "" id = "hello" class = "span">Choose A Team</option>
           {%for team in teams%}
           <option value = "{{team.code}}"><span class = "span">{{team}}</span></option>
           {%endfor%}
               </select>
            <button type = "submit" id = "submit" class= "btn btn-primary" style = "background-color:purple;" ><span style="color:yellow;font-weight:bolder;">Submit<span></button>
      </form>
      {%endif%}
    {% for game in games %}
    <tr class = "bordered rounded">
      <td>{{game.home}}</td>
      <td>{{game.away}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% else %}
<p style = "color:red;">Sorry No Games Found</p>
{% endif  %}
</div>
</div>

{% endblock %}
