{% extends "layout.html" %}

{% block title %}Version  1.10{% endblock %}
{%block head%}
<style>
  body{
    background-color:purple;
  }
  li,p{
    text-align:center;
    font-size:1rem;
    color:yellow;
  }
  li{
    font-weight:bolder;
    list-style-type: disc;
    text-align:left;
  }
  </style>
{% endblock %}


{% block body %}
<div style = "row justify-content-md-center">
<div class = "col" style = "margin-top:9%;text-align:center;">
<span class = "logo" style = "color:yellow;margin-top:30%;font-size:50px;">Heise Powless Pickem Version  1.2 Release Notes:</span>
<div>
<ul>
  <li>Bug Fixes:Hopefully fixed a bug that would have crashed the site at the end of the season</li>
</ul>
<!-- <li>Can Click On Person's Name In Standings To View Their Pick Each Week</li>
<li>Can Click On An Individual Game Under Weekly Picks To View The Score For That Game</li>
<li>New Font & Color Scheme</li>
</ul>
</div>
<div>
<p>If there are any issues with the new changes please contact me ASAP. To make a new pick, click the new pick link at the top. Also, it will say data is missing for the current week because it does not gather new data until the current week is complete.</p> -->
<!-- </div> -->
<div>
<p>With the new bug fixes there is the potential that the site may crash at the end of the season.If the site does crash please contact me.</p>
</div>
</div>
</div>
{% endblock %}
